<div class="navLinks">
    <!-- El punto delante de la barra implica que este path es relativo, es decir que detras del mismo tiene una ruta padre -->
    <a [routerLink]="['./main']">Main</a>
    <a [routerLink]="['./mas-info']">Mas info</a>
    <a [routerLink]="['./vuelo 5']">Vuelo 5</a>
</div>
<router-outlet></router-outlet>