<div class="container content angular-whishlist">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5" />
    <ul class="row">
        <app-item 
        *ngFor="let destino of all; let i = index;" 
        [destino]="destino"
        [index]="i + 1"
        (clicked)="destinoElegido($event)"
        appEspiame
        ></app-item>
    </ul>
    <div class="list list-group">
        <h3>Actividad</h3>
        <ul class="row list list-group">
            <li *ngFor="let destinoFav of updateDestFavoritos" class="list list-group-item">{{ destinoFav }}</li>
        </ul>
    </div>
</div>