<nav>
    <a href="#" [routerLink]="['./', 10]">Ir detalle</a>
    <a href="#" [routerLink]="['/login']">Ir login</a>
</nav>

<div *ngFor="let resources of api.getAll()">
    {{resources.id}} = {{resources.name}}
</div>