<div class="card-content " [@esFavorito]=" destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito' ">
    <div class="card-img">
        <img [src]="destino.imgUrl" alt="" />
        <span>
            <h4>{{ position }}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{ destino.nombre }}</h3>
        <p>Servicios: </p>
        <ul>
            <li *ngFor="let serv of destino.servicios">
                <span [ngSwitch]="serv">
                    <i *ngSwitchCase = "'desayuno'" style="color: chocolate;">{{serv}}</i>
                    <i *ngSwitchDefault>{{serv}}</i>
                </span>
            </li>
        </ul>
        <br>
        <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
            {{ destino.votes }}
        </div>
        <br>
        <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="elegir_preferido">>Ir!</a>
        <span *ngIf="destino.Selected"  ngNonBindable > {{PREFERIDO}} </span>
        <a [routerLink]="['/destino/1']">Ver detalle</a>
    </div>
</div>