<form [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." name="nombre" [formControl]="fg.controls['nombre']"/>
        
        <ul>
            <li *ngFor="let res of searchResults">{{res}}</li>
        </ul>
        <!-- Validacion -->
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">
            <p class="text text-danger">Nombre invalido.</p>
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">
            <p class="text text-danger">Nombre demasiado corto, debe tener al menos {{ minLong }} caracteres.</p>
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('required')">
            <p class="text text-danger">Nombre requerido.</p>
        </div>

    </div>
    <div class="form-group">
        <label for="ImagenUrl">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']"/>
    </div>
        <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>