<div class="page-header angular-whishlist" >
  <div style="float: right;">
    <!-- cuando cambie se llama a esa function -->
    <select (change)="translate.use($event.target.value)">
      <option value="es">Spanish</option>
      <option value="fr">Frances</option>
      <option value="en">English</option>
    </select>
  </div>
</div>
<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>Ruteo simple</h1>
      <div class="navLinks">
        <!-- Usando routerLink, linkea las rutas con las declaradas en el modulo -->
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino/1']">Destino</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>

  </div>
  <!-- Cuando detecta que estoy en un componente vinculado a un modulo y ese modulo tiene un enrutador, la ruta que uno elija y su componente asociado sera rendereada gracias al router outlet -->
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }}